.inline {
    display: flex;
    min-width: 0;
    gap: var(--mineral-spacing-md);
}

.inline.wrap {
    flex-wrap: wrap;
}

.inline.nowrap {
    flex-wrap: nowrap;
}

.inline.start {
    align-items: flex-start;
}

.inline.center {
    align-items: center;
}

.inline.end {
    align-items: flex-end;
}

.inline.stretch {
    align-items: stretch;
}

.inline.justify-start {
    justify-content: flex-start;
}

.inline.justify-center {
    justify-content: center;
}

.inline.justify-end {
    justify-content: flex-end;
}

.inline.justify-between {
    justify-content: space-between;
}
